{% extends "../layout/felize_app.html" %}
{% load message_component %}

{% block content %}

    {% render_message messages %}

    <div class="ui small teal raised center aligned segment">
        <div class="ui grid">
            <div class="fifteen wide column center aligned">
                <div class="ui header">
                    <i class="building outline icon"></i>
                    Project Information
                </div>
            </div>
            <div class="one wide column right aligned">
                <div class="ui inline dropdown">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item"><a href="{% url 'projectmanager:project_list' %}">User Stories</a></div>
                        <div class="item"><a href="{% url 'projectmanager:project_resource_list' project.id %}">Resources</a></div>
                        {% if project_resource_task_breakdown_url %}
                            <div class="item">
                                <a href="{{ project_resource_task_breakdown_url }}">
                                    Work Break Down
                                </a>
                            </div>
                        {% endif %}
                        <div class="ui divider"></div>
                        <div class="header">Reports</div>
                        <div class="item"><a href="{% url 'projectmanager:project_list' %}">Resource Work Hours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui segment">
        <div class="ui form">
            <form method="post">
                {% csrf_token %}
                <div class="ui form">
                    <div class="fields ui two column grid">
                        <div class="four wide field">
                            {{ form.code.errors }}
                            <label for="{{ form.code.id_for_label }}">Code</label>
                            {{ form.code }}
                        </div>
                        <div class="six wide field">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="six wide field">
                            {{ form.client.errors }}
                            <label for="{{ form.client.id_for_label }}">Client</label>
                            {{ form.client }}
                        </div>
                    </div>
                    <h4 class="ui horizontal divider header teal">
                        <i class="users icon"></i>Management Details
                    </h4>
                    <div class="fields ui two column grid">
                        <div class="eight wide field">
                            {{ form.project_managers.errors }}
                            <label for="{{ form.project_managers.id_for_label }}">Project Managers</label>
                            {{ form.project_managers }}
                        </div>
                        <div class="eight wide field">
                            {{ form.resources.errors }}
                            <label for="{{ form.resources.id_for_label }}">Resources</label>
                            {{ form.resources }}
                        </div>
                    </div>
                </div>
                <div class="ui horizontal divider"></div>
                <div class=" ui sixteen column teal white segment">
                    <div class="ui buttons">
                        <button class="ui button" onclick="window.location='{% url 'projectmanager:project_list' %}'"
                                type="button">
                            Cancel
                        </button>
                        <div class="or"></div>
                        <button class="ui teal button">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}