{% extends "../layout/felize_app.html" %}
{% load message_component %}
{% load inputtype %}

{% block content %}

    {% render_message messages %}

    <div class="ui small teal raised center aligned segment">
        <div class="ui grid">
            <div class="fifteen wide column center aligned">
                <div class="ui header">
                    <i class="building outline icon"></i>
                    Project Information
                </div>
            </div>
            <div class="one wide column right aligned">
                <div class="ui inline dropdown">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item"><a href="{% url 'projectmanager:project_list' %}">User Stories</a></div>
                        {% if project %}
                            <div class="item"><a href="{% url 'projectmanager:project_resource_list' project.id %}">Resources</a>
                            </div>
                        {% endif %}
                        {% if project_resource_task_breakdown_url %}
                            <div class="item">
                                <a href="{{ project_resource_task_breakdown_url }}">
                                    Work Break Down
                                </a>
                            </div>
                        {% endif %}
                        <div class="ui divider"></div>
                        <div class="header">Reports</div>
                        <div class="item"><a href="{% url 'projectmanager:project_list' %}">Resource Work Hours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui segment">
        <div class="ui form">
            <form method="post">
                {% csrf_token %}
                <div class="ui form">
                    <div class="fields ui two column grid">
                        <div class="two wide field">
                            {{ form.code.errors }}
                            <label for="{{ form.code.id_for_label }}">Code</label>
                            {{ form.code }}
                        </div>
                        <div class="six wide field">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="six wide field">
                            {{ form.client.errors }}
                            <label for="{{ form.client.id_for_label }}">Client</label>
                            {{ form.client }}
                        </div>
                        <div class="two wide field">
                            {{ form.status.errors }}
                            <label for="{{ form.status.id_for_label }}">Status</label>
                            {{ form.status }}
                        </div>
                    </div>
                    <h4 class="ui horizontal divider header teal">
                        <i class="users icon"></i>Resource Management
                    </h4>
                    <div class="fields ui two column grid">
                        <div class="eight wide field">
                            {{ form.project_managers.errors }}
                            <label for="{{ form.project_managers.id_for_label }}">Project Managers</label>
                            {{ form.project_managers }}
                        </div>
                        <div class="eight wide field">
                            {{ form.resources.errors }}
                            <label for="{{ form.resources.id_for_label }}">Resources</label>
                            {{ form.resources }}
                        </div>
                    </div>
                </div>
                <h4 class="ui horizontal divider header teal">
                    <i class="users icon"></i>Sprints
                </h4>
                <table class="ui teal small compact striped table">
                    {{ project_sprints.management_form }}

                    {% for form in project_sprints.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th
                                            {% if forloop.counter == 1 %}
                                                width="55%"
                                            {% elif forloop.counter < 4 %}
                                                width="13%"
                                            {% endif %} >
                                        {{ field.label|capfirst }}
                                    </th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle 'row1' 'row2' %} formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {% if field.field|inputtype == 'DateField' %}
                                        <div class="ui calendar datepicker">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            {% for hidden in form.hidden_fields %}
                                {% if hidden.name == 'id' and hidden.value %}
                                    <td>
                                        <a target="_blank" title="View Milestones"
                                           href="{% url 'projectmanager:update_work_entries' hidden.value %}">
                                            <i class="tasks icon"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
                {% if can_edit %}
                    <div class="ui container right aligned">
                        <div class="ui buttons">
                            <button class="ui button" type="button"
                                    onclick="window.location='{% url 'projectmanager:project_list' %}'">
                                Cancel
                            </button>
                            <div class="or"></div>
                            <button class="ui teal button">Save</button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script type="application/javascript">
        $('.formset_row').formset({
            addText: '<i class="plus square icon"></i>Add Sprint',
            deleteText: '<i class="trash alternate icon" title="Delete Sprint"></i>',
            prefix: 'task_set',
            added: function (row) {
                $(row).find("textarea").height(20);
            }
        });

        let body = $("body");

        body.find("textarea").height(20);
        body.on('focus', 'textarea', function () {
            $(this).height(100);
        });

        body.on('blur', 'textarea', function () {
            $(this).height(20);
        });
        $('td:nth-child(5),th:nth-child(5)').hide();
    </script>
{% endblock %}