{% extends "../layout/felize_app.html" %}

{% block content %}
    <div class="ui two column grid segment teal">
        <div class="sixteen wide column inverted">
            <h4>
                <i class="list icon"></i>
                <span>Task Breakdown for {{ project_name }} by {{ employee_name }}</span>
            </h4>
        </div>
    </div>
    <table class="ui teal small table">
        <thead>
        <tr>
            <th>User Story</th>
            <th>Task</th>
            <th>Description</th>
            <th>Estimate</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.user_story }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.estimated_time }} hrs.</td>
                <td>{{ task.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">Total Estimate: 256.7 Hrs.</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}