<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Felize</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projectmanager/semantic/dist/semantic.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="{% static 'projectmanager/semantic/dist/semantic.js' %}"></script>
</head>
<body>

{% block content %}{% endblock %}
</body>
</html>